@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Frank+Ruhl+Libre:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Es el nombre de la marca
.nombre-marc {
  font-size: 2.5rem;
}

// Configuracion general de las cartas
.card {
  width: 18rem;
}

.rounded-circle {
  width: 25px;
  height: 25px;
}

.rounded-circle > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// footer
footer {
  height: 250px;
}

// titulo de las paginas de ropa de hombre y mujer
.titulo-ropa {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 10px;
}

// titulo de configuración de perfil
.config {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 30px;
}

.navbar-nav .nav-link {
  font-size: 1.2rem; /* Tamaño de letra más grande */
}


//Combio de opciones del SCSS
$primary: #1e1e1e;
$secondary: #e0ded8;
$info: #928e83;
$font-family-base: "Montserrat";
$headings-font-family: "Frank Ruhl Libre";
@import "../bootstrap/scss/bootstrap.scss";
